/* You can add global styles to this file, and also import other style files */

/* Only import the bootstrap CSS - no bootsrap specifc JS!! */
@import "~bootstrap-css-only/css/bootstrap.css";

body {
   padding-top: 80px;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
